* {
    top: 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; 
    position: relative;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./img/blueSky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-register {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
.desc {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(41, 99, 31);
}
.login-btn,
.register-btn {
    border: none;
    background-color: transparent;
    font-size: 18px;
}
.login-container,
.register-container,
.post-container,
.edit-post-container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
}
.login-container {
    width: 30%;
    padding: 20px;
    background-color: rgb(232, 243, 246, 0.5);
    display: flex;
    text-align: left;
    font-size: 20px;
}
.sign-in-title {
    text-align: center;
}
.login-email-div,
.login-password-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
}
.login-email-div input,
.login-password-div input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}
.login-div-login-btn,
.login-div-cancel-btn {
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    background-color: #639bc1;
    color: white;
    cursor: pointer;
}
.login-div-login-btn:hover,
.login-div-cancel-btn:hover {
    background-color: #47718d;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.posts-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

.single-post {
    background-color: white;
    width: 70%;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.editButton,
.deleteButton {
    background-color: rgb(216, 211, 216);
    border: none;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
    font-size: 16px;
}
.editButton {
    padding-left: 18px;
    padding-right: 18px;
}
.editButton:hover {
    background-color: rgb(154, 148, 153);
}
.deleteButton:hover {
    background-color: rgb(154, 148, 153);
}

.post-fields {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    font-size: 20px;
}
.title-div,
.content-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 4px;
}
.title-field,
.content-field {
    padding: 8px;
}
#edit-add-post,
#edit-cancel {
    padding: 4px 0 4px 0;
    margin: 4px;
    font-size: 18px;
}
